<section id="features" class="py-12 sm:py-20 flex items-center max-w-5xl mx-auto" data-aos="fade-up">
  <div class="px-4 sm:px-6 lg:px-8 w-full">
    <div class="text-center">
      <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-400 from-20% via-primary-light via-30% to-green-400"><br>Features</span>
      <p class="mt-2 text-3xl sm:text-4xl font-extrabold tracking-tight text-white">
        What you get with Herewegoal
      </p>
    </div>

    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-y-12 gap-x-10">
      <!-- Feature 1 -->
      <div class="flex flex-col justify-center items-center p-8 bg-gradient-to-br from-[#121212] to-[#1f1f1f] rounded-lg shadow-lg transition-transform transform hover:scale-105 ">
        <p class="text-2xl font-bold text-white">Simple and Clear Interface</p>
        <p class="mt-2 text-base text-gray-300">
          A user-friendly interface that makes task management straightforward and efficient.
        </p>
      </div>

      <!-- Feature 2 -->
      <div class="flex flex-col justify-center items-center p-8 bg-gradient-to-br from-[#121212] to-[#1f1f1f] rounded-lg shadow-lg transition-transform transform hover:scale-105 ">
        <p class="text-2xl font-bold text-white">Collaborative Task Sharing</p>
        <p class="mt-2 text-base text-gray-300">
          Share tasks with team members and customers without the need for additional software.
        </p>
      </div>

      <!-- Feature 3 -->
      <div class="flex flex-col justify-center items-center p-8 bg-gradient-to-br from-[#121212] to-[#1f1f1f] rounded-lg shadow-lg transition-transform transform hover:scale-105 ">
        <p class="text-2xl font-bold text-white">Task Assignment via Links</p>
        <p class="mt-2 text-base text-gray-300">
          Tasks can be assigned to external users through links, enhancing flexibility in task delegation.
        </p>
      </div>

      <!-- Feature 4 -->
      <div class="flex flex-col justify-center items-center p-8 bg-gradient-to-br from-[#121212] to-[#1f1f1f] rounded-lg shadow-lg transition-transform transform hover:scale-105">
        <p class="text-2xl font-bold text-white">To-Do List</p>
        <p class="mt-2 text-base text-gray-300">
          A built-in to-do list feature to help users keep track of tasks and deadlines effectively.
        </p>
      </div>
    </div>
  </div>
</section>
