---
import Container from '../../shared/Container.astro'
---
<Container id="waiting-list" className="flex flex-col items-center justify-center min-h-screen">
    <div class="text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            Join the waiting list
        </p>
    </div>
    <div class="flex justify-center align-center" id="getWaitlistContainer" data-waitlist_id="22684" data-widget_type="WIDGET_1"></div>
</Container>
