---
import Hero from '../components/Sections/Hero.astro';
import Feature from '../components/Sections/Feature.astro';
import Header from '../components/Header.astro';
import WaitingList from '../components/Sections/WaitingList.astro';
import Footer from '../components/Sections/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Herewegoal</title>
		<meta name="description" content="Herewegoal is a simple project management tool that allows you to manage your projects and collaborate with your team without login."/>
	</head>

	<body class="bg-gradient-to-b from-blue-100 via-blue-50 to-white scroll-smooth">
		<Header />
		<div class="container mx-auto flex flex-col items-center justify-center">
			<Hero />
			<Feature />
			<WaitingList />
		</div>
		<script async src="https://prod-waitlist-widget.s3.us-east-2.amazonaws.com/getwaitlist.min.js"></script>
		<script src="../js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="https://prod-waitlist-widget.s3.us-east-2.amazonaws.com/getwaitlist.min.css"/>
	</body>
	<footer>
		<Footer />
	</footer>
</html>
