---
import Header from '../components/Header.astro';
import Footer from '../components/Sections/Footer.astro';
import PrivacySection from '../components/Sections/Privacy.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Herewegoal</title>
		<meta name="description" content="Herewegoal is a simple project management tool that allows you to manage your projects and collaborate with your team without login."/>
	</head>

	<body class="bg-gradient-to-b from-blue-100 via-blue-50 to-white scroll-smooth">
		<Header />
		<div class="container mx-auto flex flex-col items-center justify-center p-20">
      		<PrivacySection />
		</div>
	</body>
	<footer>
		<Footer />
	</footer>
</html>
