---
const { title, description } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Sections/Footer.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>

	<body class="bg-[#121212] scroll-smooth shadow-lg overflow-y-auto flex flex-col min-h-screen">
		<Header />
		<div class="container mx-auto flex-grow flex flex-col items-center justify-center">
			<slot />
		</div>
		<footer class="w-full bg-[#121212]">
			<Footer />
		</footer>
	</body>
</html>